{% extends 'base.html' %}
{% block title %} Success! {% endblock %}
{% block content %}
<article class="bg-body shadow rounded d-flex flex-column justify-content-start p-4 mt-2 mb-5 h-100">
    <header class="container w-75 d-flex justify-content-center">
        {% if error is None and link is not None %}
        <h3 class="text-secondary">
            Your new invite link
        </h3>
        {% else %}
        <h3 class="text-secondary">
            Warning
        </h3>
        {% endif %}
    </header>
    <hr/>
    {% if error is None and link is not None %}
    <section class="d-flex justify-content-center align-items-center">
        <div class="rounded bg-success w-50 p-3 d-flex flex-column justify-content-start align-items-center shadow-sm">
            <input id="link-input" class="form-control w-100" type="text" readonly value="{{link}}" aria-describedby="link-help"/>
            <span class="text-light form-text w-100 text-left" id="link-help">Be careful not to share this link publicly</span>
            <button onclick="attachLinkToClipboard()" class="btn btn-primary mt-3 mb-1" id="copy-link" type="button">
                Copy to clipboard
            </button>
        </div>
    </section>
    {% else %}
    <section class="d-flex justify-content-center align-items-center">
        <div class="rounded bg-danger w-50 p-3 d-flex flex-column justify-content-start align-items-center shadow-sm">
            <h3>
                {{error}}
            </h3>
        </div>
    </section>
    {% endif %}
    <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-info" type="button">
            <a class="text-dark" href="{% url 'invite' %}">
                Return
            </a>
        </button>
    </div>
</article>
{% if error != None %}
<p>{{error}}</p>
{% endif %}
{% endblock %}