{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<article class="bg-body shadow rounded d-flex justify-content-between p-4 mt-2 mb-5 h-100">
    <section class="w-50 d-flex flex-column">
        <h4 class="text-secondary">
            Users
        </h4>
        <ul class="list-group overflow-auto mh-50 shadow">
            {% for user in users %}
            <li class="list-group-item bg-primary rounded">
                <a class="list-group-item list-group-item-action" href="
        {% if user.id == current_id %}
            {% url 'info' %}
        {% else %}
            {% url 'user_info' user.id %}
        {% endif %}
        ">
                    {{user}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="w-50 d-flex flex-column align-items-center justify-content-start">
        <h4 class="text-secondary">
            Your Role: <strong class="text-dark">{{level_name}}</strong>
        </h4>
    </section>
</article>
{% endblock %}